body{
    margin: 0px;
}
#header{
    background-color: lightgray;
    height: 100px;
}
#logo{
    color: black;
    text-align: center;
    width: 40%;
    float: left;
    line-height: 70px;
    font-family: cursive;
}
#nav{
    text-align: center;
    width: 60%;
    float: right;
    line-height: 70px;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
h1{
    margin: 0px;  
}
.photography{
    height: 200px;
    border-radius: 5%;
}
#images{
    width: 40%;
}
#desc{
    border-radius: 40%;
    padding-left: 50px;
    padding-right: 50px;
}
#footer{
    height: 100px;
    background-color: lightslategray;
    color: antiquewhite;
    text-align: center;
}
.icon{
    color: antiquewhite;
    line-height: 50px;
    margin: 10px;
    width: 10px;
}
h4{
    margin: 0px;
}
#drawings{
    background-color: lightpink;
    justify-content: center;
}
.drawing{
    height: 200px;
    border-radius: 25%;
    margin-left: 77px;
    margin-top: 20px;
    margin-bottom: 20px;
}
